{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% image page.background_image max-1920x720 as background %}
  <div class="cf" style="background: url({{ background.url }}) no-repeat center center fixed; background-size: cover;">
    <div class="vh-100 fl pa3 pa4-ns measure-narrow f3 times" style="background-color:#f1f1f1; color: #2B3E50;">
      <header class="pv7">
        <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">{{ self.title }}</h3>
        <h4 class="f3 fw4 i lh-title mt0">{{ self.subtitle }}</h4>
      </header>
    </div>
  </div>

{% endblock %}

