{% load static wagtailuserbar wagtailcore_tags define_action menus_tags %}

{% get_menu "main" as navigation %}
{% get_menu "footer" as footer %}
{% pageurl page as url %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- CSS Reset -->
        
        <!-- CSS Reset -->
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <!-- Tachyons CSS minified -->
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 990px)" href="{% static 'css/mobile.css' %}">
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 991px)" href="{% static 'css/non_mobile.css' %}">


        {% block extra_css %}
        

        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          {% for item in navigation.menu_items.all %}
            <a class="menu" href="{{ item.link }}" data-toggle="tab" {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
          {% endfor %}
        </div>
        <span id="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

        <nav class="pa3 pa4-ns navbar-dark bg-dark">
          {% for item in navigation.menu_items.all %}
            <a class="link dim f6 f5-ns dib mr3 menu" style="color: #f1f1f1;" href="{{ item.link }}" data-toggle="tab" {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
          {% endfor %}
        </nav>

    {% if url != '/' %}
        {% define "container ph3 ph5-ns" as class %}
    {% else %}
      {% define "" as class %}
    {% endif %}

    <div class="{{ class }}">
    {% block content %}{% endblock %}
      </div>

        <footer class="pv4 ph3 ph5-m ph6-l moon-gray">
          <small class="f6 db tc">© 2020 <b class="ttu">Hertford Youth Club</b>., All Rights Reserved</small>
          <div class="tc mt3">
            {% for item in footer.menu_items.all %}
              <a class="f6 dib ph2 link moon-gray dim menu" data-toggle="tab" href="{{ item.link }}" {% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }}</a>
            {% endfor %}
          </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
