{% extends "base.html" %}
{% load wagtailcore_tags%}
    
{% block content %}
<div class="mw7 center">
<header class="bb" style="border-color: #f1f1f1;">
    <h1 class="ph5 pt5 pb3" style="text-align: center;">{{ page.title }}</h1>
</header>
</div>

<div class="center dt w-100 mw9 pt0 pb5 pv5-m pv6-ns">
    <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns">
        {% for child in self.body %}
            {% if child.block_type == 'heading' %}
                <h2>{{ child }}</h2>
            {% elif child.block_type == 'paragraph' %}
                <div class="lh-copy">
                    {{ child }}
                </div>
            {% else %}
                <div class="pb5">{{ child }}</div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
